.cardMoving,
.card1,
.card2,
.card3,
.card4 {

  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}


.card1 {
  width: 30vw;
  height: 30vh;
  background-image: url(./assets/bg4.jpg);
}

.card2 {
    width: 30vw;
    height: 30vh;
  background-image: url(./assets/bg3.jpg);
}

.card3 {
  opacity: 0.9;
  width: 30vw;
  height: 30vh;
  background-image: url(./assets/bg2.jpg);
}

.card4 {
    width: 30vw;
    height: 30vh;
  background-image: url(./assets/bg.jpg);
}


.bg {
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;


  background-size: cover;
  background-position: center;
  will-change: opacity;
}
